# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json for npm
package-lock.json

# Ignore IDE files (e.g., Visual Studio Code)
.vscode/

